rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /exercises/{exercise=**} {
    	allow read: if request.auth.uid != null;
    }
    match/routine/{routin=**} {
    	allow read, write: if request.auth.uid != null;
    }
    match/users/{userId} {
    	allow read, write: if request.auth.uid != null;
      match /history/{history=**} {
      	allow read, write: if request.auth.uid !=null;
      }
    }
  }
}